@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;                      
    margin:0;
    box-sizing: border-box;
}
:root{
    --color:#1fa667;                
}

body{
    background-color: var(--color);  
    font-family: "Roboto", sans-serif; 
}

.contenedor_principal{               
    max-width: 100%;
    padding: 1rem;
}

.box_vertical{                       
    background-color: #022723;     
    width: 5%;                    
    height: 80vh;                   
    text-align: center;              
    margin-top: 2rem;                
    margin-left: 4rem;              
    position: relative;              
}

.box_vertical i{                     
    margin-top: 25px;                
    font-size: 25px;                 
    color: var(--color);             
}

.box_vertical .icon:first-child{     
    margin-bottom: 13rem;
}

.container{
    background-color: #E4F2E9;
    width: 150vh;
    height: 80vh;
    margin-top: 2rem;
    margin-left: -0.5rem;
    box-shadow: -30px 15px 10px rgba(43, 42, 42, 0.5);
}

.box_vertical,
.container {
    display: inline-block;
    vertical-align: middle;
}
.horizontal a{
    text-decoration: none;
    display: inline-block;
    margin-left: 3rem;
    margin-top: 22px;
    color: #011d1a;
    margin-right: 2.7rem;
    font-size: 17px;
    position: static;
}

.horizontal i{
    color:var(--color)
}

.horizontal a.whatsapp{
    color: var(--color);
    font-weight: bold;
}

.horizontal a.whatsapp i {
    margin-right: 6px; 
    font-size: 25px;
}

.box_fondo,
.box_form{
    display: inline-block;
    vertical-align: middle;
    width: 45%;
    height: 80%;
    margin-top: 1.3rem;
    box-shadow: 0px 10px 20px rgba(46, 45, 45, 0.5);
}

.box_fondo{
    background-image:linear-gradient( #033a33b0,#02272393),url(imagenes/dental.png);
    background-position: center;
    background-size: cover;
    margin-left: 3rem;
    padding: 3rem;
    
}

.titulo_caja1{
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-top: 5rem;
    line-height: 2.2rem;
}

.color-distinto{
    color:var(--color);
}

.contenido_caja1{
    color: white;
    font-size: 0.6rem;
    line-height: 1.2rem;
    font-weight: 200;
}

.botones_caja1{
    margin-top: -1rem;
    position: static;
    font-size: 1rem;
    font-weight: 700;
}

.boton_book{
    background-color: var(--color);
    color: white;
    border: 1px solid var(--color);
    border-radius: 50px;
    width: 120px;
    padding-left: 5px;
    height: 30px;
}

.icono_blanco{
    color: white;
}

.boton_read{
    background-color: transparent;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 10px;
    width: 120px;
    padding-left: 5px;
    height: 30px;
}

.icono_verde{
    background-color: white;
    border-radius: 100%;
}

.indicador{
    text-align: center;
    margin-top: 1rem;
}

.punto {
    display: inline-block;
    width: 4%;
    height: 0.7rem;
    margin: 0 5px;
    background-color: rgba(65, 64, 64, 0.445);
    border-radius: 50%;
}
.punto.activo{
    background-color: rgba(240, 248, 255, 0.781);
}
.box_form{
    background-color: white;
    margin-left: -0.2rem; 
    padding: 1.5rem; 
}
.titulo_caja2{
    text-align: center;
    color: var(--color);
    font-weight: bold;
    font-size: 1.5rem;
}
form{
    margin-top: 4%;
    font-size: 0.8rem;
    color:#575857dc;
    margin-left: 1.5rem;
}
.columna {
    display: inline-block;
    width: 40%; 
    margin-right: 2rem;   
}
input{
    height: 1.7rem;
    margin-top: 2%;
    margin-bottom: 0.5rem;
    font-style: italic;
    font-weight: 400;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    padding-left: 1rem;
    transition: all 1s;
}

input:hover:valid{
    border: 2px solid green; 
    background-color: #f2f2f2;
}

input:hover:invalid{
    border: 2px solid #dc3545;
    background-color: #ffe6e6;
}

label::after {
    content: " *";
    color: red;
    font-weight: bold;
}

.columna input{
    border-radius: 50px;
    font-size: 11px;
    color: #575857a9;
    width: 9rem;
}

.fila input{
    border-radius: 50px;
    width: 20rem;
    font-size: 11px;
}

.fila{
    width: 70%; 
}

.boton_book2{
    background-color: var(--color);
    color: white;
    font-weight: 700;
    font-size: 15px;
    border: 1px solid var(--color);
    border-radius: 50px;
    margin-top: 1rem;
    margin-left: 7.5rem;
    width: 8rem;
    height: 30px;
    position: static;
}