*{
     padding: 0;                      /*aqui restablecemos los valores que trae el navegador*/
    margin:0;
    box-sizing: border-box;
}
:root{
    --color:#1fa667;                /*como hay colores que se usan mas de una vez en este caso el de los iconos creamos una custom properties*/
}

body{
    background-color: var(--color);   /*Agregamos un color de fondo segun el estilo dado*/
}

.contenedor_principal{                /*decimos a nuestro contenedor de todas las cajas que ocupe el 100 del ancho*/
    width: 100%;
}

.box_vertical{                       /*navegacion vertical*/
    background-color: #022723;     /*Agregamos un color de fondo segun el estilo dado*/
    width: 60px;                     /*le damos el ancho de la barra de navegacion vertical*/
    height: 500px;                   /*le damos el alto de la barra de navegacion vertical*/
    text-align: center;              /*como usamos la etiquetas i que en primera instancia es para estilizar el texto, sus iconos insertados con esta eqtieuta se podran estilizar como un texto, entonces los ajustamos al medio*/
    margin-top: 3rem;                /*le damos un margen hacia abajo del navegador para que se vea en el centro*/
    margin-left: 150px;              /*al igual que arriba, le damos un margen pero para que su coordenada x se ubbique en el centro o una aproximacion a ello*/
    position: relative;              /*le di una posicion relativa para que el elemento siga en el lugar inicial pero se superponga un poco del container para que no se vea afectado por el box shadow añadido en la parte de abajo*/
}

.box_vertical i{                     /*iconos dentro de la navegacion vertical*/
    margin-top: 25px;                /*le damos un margen arriba de ellos para que se separen*/
    font-size: 25px;                 /*como ya habiamos hablado de las etiquetas i, le agrandamos la letra o el tamaño en este caso para que se vea mejor*/
    color: var(--color);             /*y le agregamos el color que nos da la pagina*/
}

.box_vertical .icon:first-child{     /*primer icono de la navegacion vertical*/
    margin-bottom: 220px;
}

.container{
    background-color: #E4F2E9;
    width: 1000px;
    height: 500px;
    margin-top: 3rem;
    margin-left: -3px;
    box-shadow: -30px 15px 10px rgba(43, 42, 42, 0.5);
}

.box_vertical,
.container {
  display: inline-block;
  vertical-align: middle;
}
.horizontal a{
    text-decoration: none;
    display: inline-block;
    margin-left: 50px;
    margin-top: 22px;
    color: #011d1a;
    margin-right: 65px;
    font-size: 18px;
}

.horizontal i{
    color:var(--color)
}

.whatsapp{
    font-weight: bold;
    color: var(--color);
    font-size: 19px;
}

.box_fondo,
.box_form{
    display: inline-block;
    vertical-align: middle;
    width: 45%;
    height: 80%;
    margin-top: 20px;
    box-shadow: 0px 0px 20px rgba(46, 45, 45, 0.5);
}

.box_fondo{
    background-image:url(imagenes/dental.png);
    background-color: #022723a4;
    background-position: center;
    background-size: cover;
    margin-left: 3rem;
    padding: 50px;
    
}

.box_form{
    background-color: aliceblue;
    margin-left: -3px;
}