*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: var(--color);
}
:root{
    --color:#1fa667;
}
.contenedor_main{
    display: block;
}
.box_vertical{
    background-color: #022723;
    width: 50px;
    height: 400px;
    text-align: center;
    margin-top: 20px;
}

.box_vertical i{
    margin-top: 15px;
    font-size: 20px;
    color: var(--color);
}

.box_vertical .icon:first-child{
    margin-bottom: 180px;
}

.container{
    background-color: #E4F2E9;
    width: 600px;
    height: 400px;
}